$font-primary: 'Montserrat', Arial, sans-serif;
// $font-secondary: 'Playfair Display', serif;


// Overrides
$grid-gutter-width: 40px !default; 
$border-radius-base:  4px !default;
$padding-base-vertical: 14px !default;

$brand-primary: #cabcab !default;
$brand-secondary: #a9974e !default; 

$brand-white: #fff;
$brand-black: #000;
$brand-darker: #444;
$brand-gray: #ccc;
$brand-lighter: #e9e9e9;
$brand-body-color: #818892;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #edebe8;
$brand-bg-color: $brand-white;

$input-border-focus:  $brand-primary !default;
$form-group-margin-bottom:       30px !default;



// Mixin
@mixin translateX($translatex) {
	-moz-transform: translateX($translatex);
	-webkit-transform: translateX($translatex);
	-ms-transform: translateX($translatex);
	-o-transform: translateX($translatex);
	transform: translateX($translatex);
}
@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}
@mixin inline-block() {
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin flex() {
	display: -webkit-box;      
  	display: -moz-box;         
  	display: -ms-flexbox;      
  	display: -webkit-flex;     
  	display: flex;             
}
@mixin flexwrap() {
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap; 
	-moz-flex-wrap: wrap; 
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?srf3rx');
	src:url('../fonts/icomoon/icomoon.eot?srf3rx#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?srf3rx') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?srf3rx') format('woff'),
		url('../fonts/icomoon/icomoon.svg?srf3rx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin icomoon() {
	
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}

// Import 
@import 'bootstrap/mixins';
@import 'bootstrap/variables';




/* =======================================================
*
* 	Template Style 
*
* ======================================================= */

body {
	font-family: $font-primary;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.7;
	color: #828282;
	background: #fff;
}
.specialeffects:hover {
	color: red;
}
#login{
  margin: 10px;
}
.Gebruikersnaam {
  font-size: 10px;
}
.Wachtwoord {
  font-size: 10px;
}
#page {
	position: relative;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
	padding-top: 6em !important;
	@include transition(.5s);
	.offcanvas & {
		overflow: hidden;	
		position: absolute;
		
		&:after {
			@include transition(2s);
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 101;
			background: rgba(0,0,0,.7);
			content: "";
		}
	}
}
a {
	color: $brand-primary;
	@include transition(.5s);
	&:hover, &:active, &:focus {
		color: $brand-primary;
		outline: none;
		text-decoration: none;
		.specialeffects {
			color: red;
		}
	}
}
p {
	margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
	color: $brand-black;
	font-family: $font-primary;
	font-weight: 400;
	margin: 0 0 20px 0;
}
::-webkit-selection {
  color: $brand-white;
  background: $brand-primary;
}

::-moz-selection {
  color: $brand-white;
  background: $brand-primary;
}
::selection {
  color: $brand-white;
  background: $brand-primary;
}

.fh5co-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 25px 0;
	z-index: 1;
	background: $brand-overlay-color;
	@media screen and (max-width: $screen-sm) {
		padding: 20px 0;
	}
	.fh5co-top-logo,
	.fh5co-top-menu,
	.fh5co-top-social {
		float: left;
	}
	.fh5co-top-logo {
		width: 20%;
	}
	.fh5co-top-menu {
		width: 60%;
	}
	.fh5co-top-social {
		width: 20%;
	}
	#fh5co-logo {
		font-size: 20px;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		font-weight: bold;
		font-family: $font-primary;
	}
	.fh5co-social {
		margin: 3px 0 0 0;
		padding: 0;
		li {
			padding: 0;
			margin: 0;
			a {
				font-size: 20px;
				color: rgba(0, 0, 0, .4);
			}
		}
	}
	a {
		padding: 5px 0;
		color: $brand-black;
	}
	.menu-1, .menu-2 {
		@media screen and (max-width: $screen-sm ) {
			display: none;
		}
		a:hover {
			display: none;
			color: red;
		}
	}
	.menu-2{
		li{
			&.search{
				float: left;
				width: 83%;
				// font-family: $font-secondary;
				@include transition(.3s);
				padding: 0;
				margin: -5px 0 0 0;

			}
			input[type=text]{
				padding: 6px 10px;
				width: 40%;
				// border: 1px solid rgba($brand-black,.1);
				border: none;
				float: right;
				font-size: 13px;
				margin-top: 4px;
				background: transparent;
				@include transition(.3s);
				&:focus{
					width: 100%;
					outline: none;
					border-bottom: 1px solid rgba($brand-black,.1);
				}
			}
			button{
				margin-top: 4px;
				padding: 5px;
				background: transparent;
				border: none;
				i{
					color: rgba($brand-black,.5);
				}
				&:hover, &:focus{
					background: transparent !important;
					i{
						color: rgba($brand-black,1);
					}
				}
			}
		}
	}
	ul {
		padding: 110;
		margin: 3px 0 0 0;
		li {
			padding: 0;
			margin: 0;
			list-style: none;
			display: inline-block;
			font-family: $font-primary;
			a {
				text-transform: uppercase;
				letter-spacing: 2px;
				font-size: 220px;
				padding: 30px 10px;
				color: rgba(0,0,0,.9);
				@include transition(.5s);
				&:hover,&:focus, &:active {
					color: $brand-primary;
				}
			
			}
			&.has-dropdown {
				position: relative;
				.dropdown {
					width: 150px;
					-webkit-box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.55);
					-moz-box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.55);
					box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.55);
					z-index: 1002;
					visibility: hidden;
					opacity: 0;
					position: absolute;
					top: 40px;
					left: 0;
					text-align: left;
					background: $brand-black;
					padding: 20px;
					@include border-radius(4px);
					@include transition(.0s);
					&:before {
						bottom: 100%;
						left: 40px;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
						border-bottom-color: #000;
						border-width: 8px;
						margin-left: -8px;
					}
					
					li {
						display: block;
						margin-bottom: 7px;
						&:last-child {
							margin-bottom: 0;
						}
						a {
							padding: 2px 0;
							display: block;
							color: lighten($brand-black, 60%);
							line-height: 1.2;
							text-transform: none;
							letter-spacing: 0px;
							font-size: 15px;
							&:hover {
								color: $brand-white;
							}
						}
					}
				}
				&:hover, &:focus {
					a {
						color: red;
					}
					.dropdown {
					}
				}
			}
			&.active {
				> a {
					color: $brand-primary!important;
				}
			}
			.form-group{
				border: 1px solid red;
				width: 100%;
			}
		}
	}
}

.about-content{
	margin-bottom: 7em;
	img{
		border: 1px solid rgba($brand-black,.05);
		padding: 10px;
	}
	.desc{
		margin-bottom: 3em;
	}
}
.fh5co-staff { 
	text-align: center;
	margin-bottom: 30px;
	img {
		width: 170px;
		margin-bottom: 20px;
		@include border-radius(50%);
	}
	h3 {
		font-size: 24px;
		margin-bottom: 5px;
	}
	p {
		margin-bottom: 30px;
	}
	.role {
		color: lighten($brand-black, 75%);
		margin-bottom: 30px;
		font-weight: normal;
		display: block;
	}
}

.fh5co-social-icons {
	margin: 0;
	padding: 0;
	li {
		margin: 0;
		padding: 0;
		list-style: none;
		@include inline-block;
		a {
			@include inline-block;
			color: $brand-primary;
			padding-left: 10px;
			padding-right: 10px;
			i {
				font-size: 20px;
			}
		}
	}
}

.fh5co-contact-info {
	ul {
		padding: 0;
		margin: 0;
		li {
			padding: 0 0 0 40px;
			margin: 0 0 30px 0;
			list-style: none;
			position: relative;
			&:before {
				color: $brand-primary;
				position: absolute;
				left: 0;
				top: .05em;
				@include icomoon;
			}
			&.address {
				&:before {
					font-size: 30px;	
					content: "\e9d1";
				}
			}
			&.phone {
				&:before {
					font-size: 23px;
					content: "\e9f4";
				}
			}
			&.email {
				&:before {
					font-size: 23px;
					content: "\e9da";
				}
			}
			&.url {
				&:before {
					font-size: 23px;
					content: "\e9af";
				}
			}
		}
	}
}


.fh5co-bg-section{
	background: rgba($brand-black,.05);
}

#fh5co-started,
#fh5co-author,
#fh5co-work,
#fh5co-about,
#fh5co-contact,
#fh5co-footer{
	padding: 7em 0;
	clear: both;
	@media screen and (max-width: $screen-sm) {
		padding: 3em 0;
	}
}


//SERVICES
.feature-center {
	float: left;
	width: 100%;
	margin-bottom: 40px;

	.desc{
		padding-left: 180px;
	}
	
	.icon {
		width: 90px;
		height: 90px;
		background: $brand-primary;
		display: table;
		text-align: center;
		// margin: 0 auto 30px auto;
		margin-bottom: 30px;
		@include border-radius(50%);
		i {
			display: table-cell;
			vertical-align: middle;
			height: 90px;
			font-size: 40px;
			line-height: 40px;
			color: $brand-white;
		}
		
	}
	p, h3 {
		margin-bottom: 30px;
	}
	h3 {
		text-transform: uppercase;
		font-size: 15px;
		letter-spacing: 1px;
		font-weight: 600;
		// color: #5d5d5d;
	}
	@media screen and (max-width: $screen-sm) {
		margin-bottom: 50px;
		text-align: center;
		.icon{
			margin: 0 auto 30px auto;
		}	
	}
}


// PROJECT
.work{
	margin-bottom: 40px;
	.work-grid{
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: relative;
		height: 300px;
		margin-bottom: 20px;
		@include transition(.3s);
		.inner{
			display: table;
			height: 300px;
			width: 100.1%;
			opacity: 0;
			background: rgba($brand-overlay-color,.9);
			@include transition(.3s);
			@media screen and (max-width: $screen-sm){
				opacity: 1;
				background: rgba($brand-overlay-color,.7);
			}
			.desc{
				display: table-cell;
				vertical-align: middle;
				padding: 40px;
				h3{
					font-size: 14px;
					letter-spacing: 1px;
					text-transform: uppercase;
					margin-bottom: 5px;
					font-weight: bold;
					line-height: 24px;
					a{
						color: $brand-black;
					}
				}
				.cat{
					font-size: 11px;
					letter-spacing: 2px;
					text-transform: uppercase;
					@media screen and (max-width: $screen-sm){
						color: lighten($brand-black, 20%);
					}
				}
			}
		}
	}
	&:hover, &:focus{
		.inner{
			opacity: 1;
		}
		.desc{
			h3{
				a{
					color: $brand-primary;
				}
			}
		}
	}
}

.top-line{
	padding-bottom: 7em;
	.fh5co-heading{
		margin-bottom: 0 !important;
	}
}

.categories{
	padding: 0;
	margin: 0;
	li{
		font-family: $font-primary;
		list-style: none;
		margin-bottom: 5px;
		&.cat{
			color: $brand-black;
			font-size: 20px;
			margin-bottom: 10px;
		}
		a{
			&:hover{
				color: $brand-black;
			}
		}
	}
}

.intro{
	h2{
		font-size: 49px;
		line-height: 55px;
		letter-spacing: 1px;
		@media screen and (max-width: $screen-sm ) {
			font-size: 30px;
			line-height: 45px;
		}
		.fh5co-highlight {
			display: block;
			font-size: 16px;
			i {
				position: relative;
				top: 1px;
			}
		}
	}
}


.fh5co-heading {
	margin-bottom: 5em;
	&.fh5co-heading-sm {
		margin-bottom: 2em;
	}
	h2 {
		font-size: 28px;
		margin-bottom: 20px;
		line-height: 1.5;
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $brand-black;
	}
	h3{
		font-size: 18px;
	}
	p {
		font-size: 18px;
		line-height: 1.5;
		color: #828282;
	}
	span{
		display: block;
		margin-bottom: 10px;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 2px;
		font-family: $font-primary;
	}
}

.title{
	margin-bottom: 40px;
	@media screen and (max-width: $screen-sm){
		text-align: center;
	}
}
.author{
	width: 100%;
	float: left;
	margin-bottom: 5em;
	.author-inner{
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
		position: relative;
		width: 40%;
		height: 350px;
		float: left;
		@media screen and (max-width: $screen-xs){
			width: 100%;
			margin-bottom: 40px;
		}
	}
	.desc{
		width: 60%;
		float: left;
		padding-left: 50px;
		@media screen and (max-width: $screen-xs){
			width: 100%;
			padding-left: 0;
		}
		span{
			font-size: 13px;
			text-transform: uppercase;
			display: block;
			margin-bottom: 20px;
			letter-spacing: 1px;
		}
		.fh5co-social-icons {
			li {
				a {
					color: $brand-primary;
					padding-left: 0;
					padding-right: 10px;
				}
			}
		}
	}
}
.skills{
	h3{
		font-size: 16px;
	}
	.progress{
		border: none !important;
		box-shadow: none;
		@include border-radius(50px);
	}
	.progress-bar{
		box-shadow: none;
		@include border-radius(50px);
		background: $brand-primary !important;
	}
}


#fh5co-started {
	background: rgba($brand-primary,1);
	
	.fh5co-heading {
		margin-bottom: 20px !important;
		h2 {
			color: $brand-white;
			color: darken($brand-primary, 40%);
			margin-bottom: 20px !important;
		}
		p{
			color: darken($brand-primary, 40%);
		}
	}
	.btn {
		margin-top: 20px;
		border: 3px solid rgba(#8c7961,1);
		color: rgba(#8c7961,1);
		font-size: 20px;
		// text-transform: uppercase;
		font-weight: 400;
		padding: 20px 0; 
		padding-left: 70px;
		padding-right: 70px;
		&:hover{
			background: #8c7961 !important;
			border: 3px solid rgba(#8c7961,1) !important;
			color: #fff;
		}
	}
}

#fh5co-footer {
	background: #efefef;
	.fh5co-footer-links {
		padding: 0;
		margin: 0;	
		li {
			padding: 0;
			margin: 0;
			list-style: none;
			a {
				color: $brand-black;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.fh5co-widget {
		margin-bottom: 30px;
		@media screen and (max-width: $screen-sm){
			text-align: left;
		}
		h3 {
			margin-bottom: 15px;
			font-weight: bold;
			font-size: 15px;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
	}

	.copyright {
		.block {
			display: block;
		}
	}
}


// off canvas
#fh5co-offcanvas {
	position: absolute;
	z-index: 1901;
	width: 270px;
	background: lighten($brand-black, 0%);
	top: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 45px 40px 40px 40px;
	overflow-y: auto;
	display: none;
	@include translateX(270px);
	@include transition(.5s);
	@media screen and(max-width: $screen-sm){
		display: block;
	}
	.offcanvas & {
		@include translateX(0px);
	}
	a {
		color: rgba(255,255,255,.5);
		&:hover {
			color: rgba(255,255,255,.8);
		}
	}
	.fh5co-social {
		margin-top: 20px;
			li {
				display: inline!important;
				margin-right: 10px;
			}
		}
	ul {
		padding: 0;
		margin: 0;


		li {
			padding: 0;
			margin: 0;
			list-style: none;
			&.search{
				float: left;
				width: 100%;
				// font-family: $font-secondary;
				@include transition(.3s);
				padding: 0;
				margin: 5px 0 0 0;

			}
			input[type=text]{
				padding: 6px 10px;
				width: 100%;
				border: 1px solid rgba($brand-white,.1);
				float: right;
				font-size: 13px;
				margin-top: 4px;
				background: transparent;
				@include transition(.3s);
				&:focus{
					width: 100%;
					outline: none;
				}
			}
			button{
				margin-top: 4px;
				padding: 6px;
				background: rgba($brand-white,.1);
				border: 1px solid rgba($brand-white,.1);
				margin-left: 1px;
				i{
					color: rgba($brand-white,.5);
				}
				&:hover, &:focus{
					background: transparent !important;
					i{
						color: rgba($brand-white,1);
					}
				}
			}
			&.shopping-cart{
				float: left;
			}
			a{
				&.cart{
					display: block;
					margin-top: 30px;
					color: rgba(255,255,255,.5);
					span{
						position: relative;
						small{
							position: absolute;
							top: -20px;
							right: -15px;
							padding: 10px 6px;
							line-height: 0;
							font-size: 11px;
							background: $brand-primary;
							color: rgba(255,255,255,1);
							@include border-radius(50%);
						}
					}
				}
			}
			> ul {
				padding-left: 20px;
				display: none;
			}
			&.offcanvas-has-dropdown {
				> a {
					display: block;
					position: relative;
					&:after {
						position: absolute;
						right: 0px;
						@include icomoon;
						content: "\e921";
						font-size: 20px;
						color: rgba(255,255,255,.2);
						@include transition(.5s);
					}
				}
				&.active {
					a {
						&:after {
							-webkit-transform: rotate(-180deg);
							-moz-transform: rotate(-180deg);
							-ms-transform: rotate(-180deg);
							-o-transform: rotate(-180deg);
							transform: rotate(-180deg);
						}
					}
				}
			}
		}
	}
}

.uppercase {
	font-size: 14px;
	color: $brand-black;
	margin-bottom: 10px;
	font-weight: 700;
	text-transform: uppercase;
}
.gototop {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	@include transition(.5s);
	&.active {
		opacity: 1;
		visibility: visible;
	}
	a {
		width: 50px;
		height: 50px;
		display: table;
		background: rgba(0,0,0,.5);
		color: $brand-white;
		text-align: center;
		@include border-radius(4px);
		i {
			height: 50px;
			display: table-cell;
			vertical-align: middle;

		}
		&:hover, &:active, &:focus {
			text-decoration: none;
			outline: none;
		}
	}	
}



// Burger Menu
.fh5co-nav-toggle {
  width:25px;
  height:25px;
  cursor: pointer;
  text-decoration: none;
  position: fixed !important;
  &.active i {
		&::before, &::after {
			background: $brand-darker;
		}
  }
  &:hover, &:focus, &:active {
  	outline: none;
  	border-bottom: none!important;
  }
  i {
  	position: relative;
	  display: inline-block;
	  width: 25px;
	  height: 2px;
	  color: #252525;
	  font:bold 14px/.4 Helvetica;
	  text-transform: uppercase;
	  text-indent:-55px;
	  background: #252525;
	  transition: all .2s ease-out;
		 &::before, &::after {
	  	content:'';
		  width: 25px;
		  height: 2px;
		  background: #252525;
		  position: absolute;
		  left:0;
		  transition:all .2s ease-out;
	  }
  }
  &.fh5co-nav-white {
  	> i {
  		color:$brand-white;
  		background: $brand-black;
  		&::before, &::after {
  			background: $brand-black;
  		}
  	}
  }
}

.fh5co-nav-toggle i::before {
  top: -7px;
}
.fh5co-nav-toggle i::after {
  bottom: -7px;
}
.fh5co-nav-toggle:hover i::before {
  top: -10px;
}
.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}
.fh5co-nav-toggle.active i {
	background: transparent;
}
.fh5co-nav-toggle.active i::before {
	background: $brand-white;
  top:0;
  -webkit-transform: rotateZ(45deg);
     -moz-transform: rotateZ(45deg);
      -ms-transform: rotateZ(45deg);
       -o-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.fh5co-nav-toggle.active i::after {
	background: $brand-white;
  bottom:0;
  -webkit-transform: rotateZ(-45deg);
     -moz-transform: rotateZ(-45deg);
      -ms-transform: rotateZ(-45deg);
       -o-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
.fh5co-nav-toggle {
  position: absolute;
  right: 0px;
  top: 10px;
  // top: 100px;
  // left: -100px;;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  // background: #f86942;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none!important;
  @media screen and (max-width: $screen-sm) {
  	display: block;
  }
}

// Buttons
.btn {
	margin-right: 4px;
	margin-bottom: 4px;
	font-family: $font-primary;
	font-size: 16px;
	font-weight: 400;
	@include border-radius(2px);
	@include transition(.5s);
	padding: 8px 20px;
	&.btn-md {
		padding: 8px 20px!important;
	}
	&.btn-lg {
		padding: 18px 36px!important;
	}
	&:hover, &:active, &:focus {
		box-shadow: none!important;
		outline: none!important;
	}
}
.btn-primary {
	background: $brand-primary;
	color: $brand-white;
	border: 2px solid $brand-primary;
	&:hover, &:focus, &:active {
		background: lighten($brand-primary, 5%)!important;
		border-color: lighten($brand-primary, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-primary;
		border: 2px solid $brand-primary;
		&:hover, &:focus, &:active {
			background: $brand-primary;
			color: $brand-white;
		}
	}
}
.btn-success {
	background: $brand-success;
	color: $brand-white;
	border: 2px solid $brand-success;
	&:hover, &:focus, &:active {
		background: darken($brand-success, 5%)!important;
		border-color: darken($brand-success, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-success;
		border: 2px solid $brand-success;
		&:hover, &:focus, &:active {
			background: $brand-success;
			color: $brand-white;
		}
	}
}
.btn-info {
	background: $brand-info;
	color: $brand-white;
	border: 2px solid $brand-info;
	&:hover, &:focus, &:active {
		background: darken($brand-info, 5%)!important;
		border-color: darken($brand-info, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-info;
		border: 2px solid $brand-info;
		&:hover, &:focus, &:active {
			background: $brand-info;
			color: $brand-white;
		}
	}
}
.btn-warning {
	background: $brand-warning;
	color: $brand-white;
	border: 2px solid $brand-warning;
	&:hover, &:focus, &:active {
		background: darken($brand-warning, 5%)!important;
		border-color: darken($brand-warning, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-warning;
		border: 2px solid $brand-warning;
		&:hover, &:focus, &:active {
			background: $brand-warning;
			color: $brand-white;
		}
	}
}
.btn-danger {
	background: $brand-danger;
	color: $brand-white;
	border: 2px solid $brand-danger;
	&:hover, &:focus, &:active {
		background: darken($brand-danger, 5%)!important;
		border-color: darken($brand-danger, 5%)!important;
	}
	&.btn-outline {
		background: transparent;
		color: $brand-danger;
		border: 2px solid $brand-danger;
		&:hover, &:focus, &:active {
			background: $brand-danger;
			color: $brand-white;
		}
	}
}

.btn-outline {
	background: none;
	border: 2px solid lighten($brand-black, 50%);
	font-size: 16px;
	@include transition(.3s);
	&:hover, &:focus, &:active {
		box-shadow: none;
	}
}

.btn.with-arrow {
	position: relative;
	@include transition(.3s);
	i {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		right: 0px;
		top: 50%;
		margin-top: -8px;
		@include transition(.2s);
	}
	&:hover {
		padding-right: 50px;
		i {
			color: $brand-white;
			right: 18px;
			visibility: visible;
			opacity: 1;
		}
	}
}
// Form Input Field
.form-control {
	box-shadow: none;
	background: transparent;
	border: 2px solid rgba(0, 0, 0, 0.1);
	height: 54px;
	font-size: 18px;
	font-weight: 300;
  	&:active, &:focus {
  		outline: none;
		box-shadow: none;
		border-color: $brand-primary;
  }
}

.row-pt-md {
	padding-top: 4em!important;
}
.row-pb-md {
	padding-bottom: 4em!important;
}
.row-pb-sm {
	padding-bottom: 2em!important;
}

.fh5co-loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../images/loader.gif) center no-repeat #fff;
}

.animate-box {
	.js & {
		opacity: 0;
	}
}

.testimony {
	margin: 5em 0;
	@media screen and (max-width: $screen-sm) {
		margin: 3em 0;
	}
}
blockquote {
	padding-left: 0;
	border-left: none;
	p {
		font-family: "Georgia", Times;
		font-style: italic;
		font-size: 20px;
		line-height: 1.5;
		color: lighten($brand-black, 40%);
	}
	.person {
		font-family: $font-primary;
		font-size: 14px;
		color: lighten($brand-black, 70%);
		cite {
			font-style: normal;	
			color: $brand-black;
		}
	}
}

.portfolio-navigation {
	i {
		font-size: 20px;
		position: relative;
		top: 3px;
	}
}

.role {
	margin-top: 2.5em;
	margin-bottom: 2.5em;
	h3 {
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 2px;
		margin-bottom: 20px;
	}
	ul {
		padding: 0;
		margin: 0;
		li {
			font-size: 14px;
			list-style: none;
			padding: 0;
			margin: 0 0 5px 0;
		}
	}
}